<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="social-buttons mb-2">
            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/aarat-batra-98871b285" target="_blank">
                <i class="fa-brands fa-linkedin" style="font-size: 32px;"></i>
            </a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/aarat_batra/" target="_blank">
                <i class="fa-brands fa-instagram" style="font-size: 32px;"></i>
            </a>
            <!-- GitHub -->
            <a href="https://www.github.com/AaratBatra" target="_blank">
                <i class="fa-brands fa-github" style="font-size: 32px;"></i>
            </a>
        </div>
        <p>&copy; 2023 Aarat Batra. All rights reserved.</p>
    </div>
</footer>